/* Unstyled */
body > header nav {
	width: 100%;
}

body > header nav ul {
	font-size: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
	
}

body > header nav ul > li {
	font-size: 1rem;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	list-style-type: none;
	vertical-align: middle;
}

body > header nav ul > li a{
	display: block;
	text-decoration: none;
	padding: .75em;
	position: relative;
	line-height: 1em;
}

body > header nav ul > li a:focus,
body > header nav ul > li a:hover{
	text-decoration: underline;
}

html body > header nav ul.prioritized li[data-priority="more"],
html body > header nav ul.prioritized.opened li[data-priority="more"],
html body > header nav ul.prioritized:not(.opened) > li[data-priority="less"]{
	display: none;
}

html body > header nav ul.prioritized.truncated > li[data-priority="more"]{
	display: inline-block;
}


html body > header nav ul:not(.opened) > li[data-priority="0"],
html body > header nav ul.prioritized:not(.opened) > li.demoted,
html body > header nav ul.prioritized:not(.opened) > li[data-priority="less"] {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px;
	width: 1px; 
	margin: -1px;
	padding: 0;
	border: 0;
}

body > header nav ul.prioritized.opened,
body > header nav ul:not(.prioritized){
	white-space: normal;
}

body > header nav ul.prioritized.opened li,
body > header nav ul:not(.prioritized) li{
	white-space: normal;
}

body > header nav ul.prioritized.opened > li,
body > header nav ul.prioritized.opened > li.demoted,
body > header nav ul:not(.prioritized) > li {
	width: 50%;
	height: auto;
	position: static;
}

body > header nav ul.prioritized.opened > li[data-priority="more"]{
	position: absolute;
	display: none !important;
}
/* End Unstyled */

/* Demo Menu Styling - uses display table to get a full width navigation instead of auto width */

body{
	margin: 3%
}

body > header{
	padding-left: 6.5rem;
	padding-left: calc(6rem + 3%);
	min-height: 6rem;
	overflow-y: hidden;
}

body > header #logo{
	position: absolute;
	width: 6rem;
	height: 6rem;
	margin-left: -6.5rem;
	margin-left: calc(-6rem - 3%);
	background: #777777;
	display: block;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-family: sans-serif;
	text-transform: uppercase;
	
	font-size: 6rem;
	line-height: 1;
	overflow: hidden;
	border-radius: .4rem;
}


body > header nav {
	margin-top: 1.75rem;
	overflow: hidden;
	border-radius: .4rem;
	border: solid 1px #dddddd;
	width: calc(100% - 2px);
}

body > header nav ul {
	
	overflow: hidden;
}

body > header nav ul.prioritized:not(.opened) {
	width: 100%;
	display: table;
	padding: 0;
	margin-left: -2px;
	height: 2.5rem;
	height: calc(2.5rem - 2px);
}

body > header nav > ul > li{
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: .7rem;
	font-weight: bold;
	letter-spacing: .1em;
	overflow: visible;
	
}

body > header nav ul.prioritized:not(.opened) li,
html body > header nav ul.prioritized.truncated > li[data-priority="more"]{

	display: table-cell;
	position: relative;
	vertical-align: middle;
}




body > header nav ul.prioritized:not(.opened) li:not(.menu) a:before{
	content: "";
	position: absolute;
	height: 2em;
	margin-top: -1em;
	top: 50%;
	width: 1px;
	background: #eeeeee;
	left: 0;
}

body > header nav ul.prioritized.opened,
body > header nav ul.prioritized.opened li,
body > header nav ul:not(.prioritized),
body > header nav ul:not(.prioritized) li {
	margin: 0;
}

body > header nav ul.prioritized.opened,
body > header nav ul:not(.prioritized){
	position: relative
}

body > header nav ul.prioritized.opened li,
body > header nav ul:not(.prioritized) li{
	vertical-align: top;
	margin-top: -1px;
}

body > header nav ul.prioritized.opened li:before,
body > header nav ul:not(.prioritized) li:before{
	content: "";
	position: absolute;
	height: 1px;
	width: 94%;
	background: #eeeeee;
	left: 3%;
}

body > header nav ul.prioritized.opened li:nth-child(odd):not([data-priority="more"]):not([data-priority="less"]) a:before,
body > header nav ul:not(.prioritized) li:nth-child(odd):not([data-priority="more"]):not([data-priority="less"]) a:before{
	content: "";
	position: absolute;
	height: 2em;
	width: 1px;
	background: #eeeeee;
	right: 0;
	top: 50%;
	margin-top: -1em;
}

body > header nav ul > li a{
	padding: .75rem 1.25rem;
	color: #bbbbbb;
	transition: color.33s;
	overflow: visible;
	}
	
body > header nav ul.prioritized> li[data-priority="more"] a:after,
body > header nav ul.prioritized> li[data-priority="less"] a:after{
	content: "";
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: .9ex solid transparent;
	border-right: .9ex solid transparent;

	vertical-align: middle;
	margin: 0 0 .2em .25em;
	transition: border-top-color.33s
}

body > header nav ul.prioritized> li[data-priority="more"] a::after{
		border-top: 1ex solid #bbbbbb;
}
body > header nav ul.prioritized> li[data-priority="less"] a::after{
		border-bottom: 1ex solid #bbbbbb;
}

	
body > header nav ul > li a:hover, 
body > header nav ul > li a:focus {
	text-decoration: none;
	color: #666666;
}

body > header nav ul.prioritized> li[data-priority="more"] a:hover::after,
body > header nav ul.prioritized> li[data-priority="more"] a:focus::after,
body > header nav ul.prioritized> li[data-priority="less"] a:hover::after,
body > header nav ul.prioritized> li[data-priority="less"] a:focus::after{
	border-top-color: #666666;
	border-bottom-color: #666666;
}

@media only screen and (max-width: 40em) {
	
	body > header{
		padding-left: 3rem;
		padding-left: calc(2.5rem + 3%);
		height: auto;
		min-height: 0;
	}
	
	
	body > header #logo{
		height: 0;
		width: 1em;
		padding: 1.25rem 0;
		font-size: 2.5rem;
		line-height: 0;
		overflow: visible;
		margin-left: 3rem;
		margin-left: calc(-2.5rem - 3%);
	}
	
	
	body > header > nav{
		margin-top: 0
	}
	
}

@media only screen and (max-width: 30em) {
	body > header nav ul.prioritized.opened > li,
	body > header nav ul.prioritized.opened > li.demoted,
	body > header nav ul:not(.prioritized) > li{
		width: 100%;

	}
	
	body > header nav ul.opened li:nth-child(odd) a:before{
		
		display: none;
		
	}

	
}



/* Demo Content styling */

:focus{
	outline: none
}


section {
	padding:0 6.5rem;
	padding:0 calc(6rem + 3%);
	margin: 3% 0;
	font-family: sans-serif;
	color: #666666;
	line-height: 1.4
}

section h1,
section h2,
section h3,
section header{
	color: #444444
}

section a{
	color: #444444;
	background-color: transparent;
	transition: background-color .3s
}

section a:hover,
section a:focus{
	padding: .125em;
	margin: -.125em;
	background-color: #eeeeee;
}



section > article {
	max-width: 32rem;
	margin: 0 auto;
}

section > article > header {
	font-size: 1.5em;
	line-height: 1.2;
	width: 38.5rem;
	max-width: calc(102% + 6.5rem);
	border-bottom: solid 1px #dddddd;
}

section > article > header h1{
	margin: 0;
}

section > article > header p{
	margin: .25em 0 .5em;
}

@media only screen and (max-width: 40em) {
	
	body > header{
		padding-left: 3rem;
		padding-left: calc(2.5rem + 3%);
		height: auto;
		min-height: 0;
	}
	
	
	body > header #logo{
		height: 2.5rem;
		width: 2.5rem;
		padding: 0;
		font-size: 2.5rem;
		line-height: 2.5rem;
		overflow: visible;
		margin-left: 3rem;
		margin-left: calc(-2.5rem - 3%);
	}
	
	
	body > header > nav{
		margin-top: 0;
		line-height: 1.125rem;
	}
	
	section {
		padding:0 3rem;
		padding: 0 calc(2.5rem + 3%)
	}
	
	section > article > header {
		width: 100%;
	}

	
}

@media only screen and (max-width: 30em) {

	
	section {
		padding:0;
		font-size: .9rem;
	}
	
	
	
}

@media only screen and (max-width: 25em) {
	section {
		font-size: .8rem;
	}
}


@media only screen and (min-width: 62em) {
	html{
		font-size: 120%;
	}
}


@media only screen and (min-width: 75em) {
	html{
		font-size: 140%;
	}
}

@media only screen and (min-width: 90em) {
	html{
		font-size: 170%;
	}
}